// ---------- SMILEY LOGIN PAGE ---------- //

.login .socnet-login-btns,
.login .v-facebook-login,
.login .v-google-login button {
  border: 1px solid #ced0d2;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 0 3px 4px 0 rgba(96, 100, 112, 0.1);
  cursor: pointer;
  height: 81px;
  color: $default-text;
  font: 700 18px/22px "Montserrat Bold", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 40px;
  width: 100%;

  span {
    margin-right: 8px;
    display: flex;
  }

  svg {
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: text-top;
  }

  &.login-with-gmail-btn {
    max-width: 281px;

    @include xl {
      margin-top: 0;
    }
  }

  &.login-with-facebook-btn,
  &.login-with-linkedin-btn {
    max-width: 325px;

    span {
      margin-right: 18px;
    }
  }
}

button.v-facebook-login {
  max-width: 325px;
  display: block;
}

.v-google-login {
  max-width: 281px;
  width: 100%;

  svg {
    margin-right: 30px;
  }
}

.login {
  text-align: center;
  margin-top: 148px;
  margin-bottom: 350px;

  .login-title {
    color: $default-text;
    font: 700 56px/74px "Montserrat Bold", sans-serif;
    margin-bottom: 27px;
  }

  .login-subtitle {
    color: $default-text;
    font: 400 22px/36px "Muli", sans-serif;
    max-width: 778px;
    margin: 0 auto 26px;
  }

  h3 {
    color: $default-text;
    font: 700 32px/48px "Montserrat Bold", sans-serif;
    text-transform: uppercase;
    margin: 0;
  }

  .login-btns-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;

    &>* {
      margin: 0 13px 10px;
    }

    @include xl {
      flex-direction: row;
    }
  }

  .login-wrap {
    width: 100%;
    max-width: 762px;
    text-align: left;
    margin: 27px auto 0;

    label {
      color: $default-text;
      font: 700 16px/24px "Muli", sans-serif;

      input {
        display: block;
        margin: 7px auto 21px;
        width: 100%;
        box-sizing: border-box;
        height: 48px;
        border: 1px solid #c7c7c7;
        border-radius: 4px;
        font: 400 16px/24px "Inter Regular", sans-serif;
        color: #656565;
        padding: 0 48px 0 16px;
      }
    }

    .login-btn-wrap {
      margin-top: 27px;
    }

    .login-btn {
      border-radius: 4px;
      background-color: $default-yellow-btns;
      height: 48px;
      width: 100%;
      border: none;
      font: 700 16px/24px "Montserrat Bold", sans-serif;
      color: #000;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: #f6f162;
        box-shadow: 0 2px 28px -13px rgba(0, 0, 0, 0.4);
        color: #000;
        transition: all 0.2s ease;
      }
    }

    .register-and-forgot {
      text-align: center;
      font: 400 22px/36px "Muli", sans-serif;
      margin-top: 25px;

      a,
      span {
        color: #324287;
      }

      span {
        margin-left: 18px;
        margin-right: 6px;
      }
    }
  }
}

/*.v-google-login{*/
/*display: inline-flex;*/
/*}*/
.login button.v-facebook-login {
  justify-content: flex-start;

  img.token {
    display: none;
  }

  span {
    div {
      display: flex;
      align-items: center;

      span {
        margin-right: 18px !important;
      }
    }
  }

  &[disabled] {
    display: flex;
    justify-content: flex-start;

    .loader {
      margin-right: 12px;
    }
  }
}