.header-bg {
  background: url(/img/homepage/header-bg-mob-x2.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  height: 424px;
  width: 100%;
  overflow: hidden;

  @include sm {
    height: 576px;
  }

  @include md {
    height: 768px;
  }

  @include lg {
    background: url(/img/homepage/header-bg-dt-x1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 779px;
  }

  .header-content {
    text-align: center;
  }

  .header-content-title {
    margin-top: 140px;
    color: #FFF;
    font: 50px/50px 'Montserrat Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;

    @include sm {
      margin-top: 160px;
      font: 70px/90px 'Montserrat Bold', sans-serif;
    }

    @include md {
      margin-top: 180px;
    }

    @include lg {
      margin-bottom: 114px;
      font: 100px/120px 'Montserrat Bold', sans-serif;
    }

    @include xl {
      font: 120px/160px 'Montserrat Bold', sans-serif;
    }
  }

  .header-btn {

    /* TO DO */
    /*height: 80px;
      width: 313px;
      border-radius: 40px;
      background-color: $default-orange-btns;
      border: none;
      color: #FFF;
      font: 16px/24px 'Montserrat Bold', sans-serif;
      text-transform: uppercase;
      cursor: pointer;*/

    height: 65px;
    width: 250px;
    border-radius: 40px;
    background-color: #eeb400;
    border: none;
    color: #FFF;
    font: 16px/24px "Montserrat Bold", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: #c09205;
    }
  }
}

//---------- ARTICLE ITEM

.article-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;


  img {
    width: 100%;
  }

  @include md {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include xxl {
    max-width: initial;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 43px;

    .smiley-img-wrap {
      width: 100%;
    }

    img {
      margin-bottom: 0;
    }
  }

  .article-descr {
    margin-top: 14px;
    padding: 0 0 17px 0;

    @include xxl {
      margin-top: 0;
    }
  }

  .article-date-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @include xxl {
      margin-top: 10px;
    }

    .article-date {
      color: #a1a1a1;
      font: 600 16px/24px 'Montserrat SemiBold', sans-serif;
    }

    .article-location {
      color: #D21217;
      font: 600 16px/24px 'Montserrat SemiBold', sans-serif;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }

  .article-title {
    color: $default-text;
    font: 700 20px/32px 'Montserrat Bold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .article-subtitle {
    color: $default-text;
    font: 400 16px/20px 'Muli', sans-serif;
    padding-right: 15px;
  }
}

// ---------- SMILEY TALKS INDEX SECTION

.smiley-talks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 3px;
  position: relative;

  @include md {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 60px;

    .smiley-talks-left,
    .smiley-talks-center {
      width: 48%;
    }
  }

  @include xxl {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 42px;
  }

  &.container {
    padding-top: 40px;
  }

  .smiley-talks-left {
    margin-bottom: 18px;

    @include md {
      max-width: 360px;
    }

    .smiley-talks-main-title {
      text-align: center;
      background-color: #D21217;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 19px;

      img {
        width: 100%;
        max-width: 170px;
      }

      p {
        color: #fff;
        font: 400 14px/17px 'Montserrat Regular', sans-serif;
        text-transform: uppercase;
        letter-spacing: 17px;
        position: absolute;
        display: inline-block;
        top: 56px;
        right: 50%;
        margin: 0;
        transform: translateX(50%);
      }

      @include md {
        position: relative;
        height: 190px;
        padding: 0;

        img {
          max-width: 255px;
          transform: translateY(60px);
        }

        p {
          transform: none;
          left: 77px;
          top: 121px;
          right: auto;
          letter-spacing: 30px;
        }
      }
    }

    >p {
      color: $default-text;
      font: 400 16px/24px 'Muli', sans-serif;
      margin: 62px 0 13px;

      @include md {
        margin: 19px 0 38px;
      }
    }
  }

  .smiley-talks-center {
    .smiley-img-wrap {
      @include md {
        height: 28.4vw;
      }

      @include xxl {
        height: 19.375vw;
        max-height: 311px;
      }

    }

    .article-title {
      color: $default-text;
      font: 700 32px/43px 'Montserrat Bold', sans-serif;
      text-transform: uppercase;
      margin-top: 14px;
      margin-bottom: 10px;

      @include md {
        margin-top: 6px;
        margin-bottom: 0;
        font: 32px/48px 'Montserrat Bold', sans-serif;
      }
    }

    .article-subtitle {
      color: $default-text;
      font: 400 22px/30px 'Muli', sans-serif;
    }

    &:after {
      margin-top: 33px;
      margin-bottom: 20px;
      content: '';
      border-bottom: 1px solid #E4E4E4;
      display: block;

      @include md {
        border-bottom: none;
      }
    }

    @include xxl {
      max-width: 499px;
      margin-bottom: 40px;
    }
  }

  .smiley-talks-right {
    .smiley-img-wrap {
      height: 100%;

      img {
        position: relative;

      }
    }

    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .article-item {
        width: 33.33%;

        .smiley-img-wrap {
          height: 20.443vw;
        }
      }
    }

    @include xxl {
      flex-direction: column;
      width: auto;
      max-width: 630px;

      .smiley-img-wrap {
        max-width: 266px;
        max-height: 166px;
        height: 10.375vw;
      }

      .article-item {
        flex-direction: row;
        width: auto;
      }

      .article-descr {
        padding-left: 20px;

        .article-date-location {
          margin-top: 0;
          justify-content: inherit;
        }
      }

      .article-item:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// ---------- SMILEY NETWORK INDEX SECTION

.smiley-network {
  padding: 0;
  position: relative;

  @include md {
    padding-top: 17px;

    &:before {
      content: '';
      border-top: 1px solid #E4E4E4;
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      max-width: 1560px;
    }
  }

  @include xl {
    display: flex;
    flex-direction: row;
    min-height: 162px;
  }

  .smiley-network-title-wrap {
    background-color: #4696d2;

    @include xl {
      display: flex;
      align-items: center;
      padding: 0 40px 0 50px;
    }
  }

  .smiley-network-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;

    svg {
      width: 160px;

      @include xl {
        width: 240px;
        height: auto;
      }
    }

    span {
      color: #fff;
      font: 600 18px/18px 'Montserrat SemiBold', sans-serif;
      text-transform: uppercase;
      letter-spacing: 12px;
      margin-top: -15px;

      @include lg {
        font: 600 30px/30px 'Montserrat SemiBold', sans-serif;
        letter-spacing: 16px;
      }
    }

    @include xl {}
  }

  .smiley-network-descr {
    background: url(/img/homepage/network-mobile-bg.png) no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 22px 0 35px;

    @include md {
      background: url(/img/homepage/network-dt-bg.png) no-repeat;
      background-size: cover;
      background-position: 50%;
    }

    @include xl {
      flex-direction: row;
      padding: 0;
    }
  }

  .network-descr-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include xl {
      align-items: flex-start;
      text-align: left;
      padding: 21px 0 29px 45px;
    }
  }

  .smiley-network-descr-title {
    color: #fff;
    font: 700 26px/39px 'Montserrat Bold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 4px;

    @include md {
      font: 700 32px/48px 'Montserrat Bold', sans-serif;
    }
  }

  .smiley-network-descr-subtitle {
    color: #fff;
    font: 400 22px/30px 'Muli', sans-serif;
    margin-bottom: 28px;

    @include xl {
      margin-bottom: 0;
    }
  }

  .create-org-btn {
    height: 60px;
    width: 100%;
    max-width: 313px;
    color: #fff;
    font: 600 16px/24px 'Montserrat SemiBold', sans-serif;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include xl {
      margin: 0 25px;
    }
  }
}

// ---------- SMILEY NEWS INDEX SECTION

.smiley-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;
  padding-top: 56px;
  padding-bottom: 15px;
  position: relative;

  @include md {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 48px;
    padding-top: 25px;

    .smiley-news-left,
    .smiley-news-center {
      width: 48%;
    }

    &:before {
      content: '';
      border-top: 1px solid #E4E4E4;
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      max-width: 1560px;
    }
  }

  @include xxl {
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .smiley-news-left {
    margin-bottom: 16px;

    @include md {
      max-width: 360px;
    }

    .smiley-news-main-title {
      text-align: center;
      background-color: #EEB400;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 5px;

      img {
        width: 100%;
        max-width: 170px;
      }

      p {
        color: #fff;
        font: 400 14px/17px 'Montserrat Regular', sans-serif;
        text-transform: uppercase;
        letter-spacing: 17px;
        position: absolute;
        display: inline-block;
        top: 58px;
        right: 50%;
        margin: 0;
        transform: translateX(50%);
      }

      @include md {
        position: relative;
        height: 190px;
        padding: 0;

        img {
          max-width: 255px;
          transform: translateY(60px);
        }

        p {
          transform: none;
          left: 91px;
          top: 121px;
          right: auto;
          letter-spacing: 33px;
        }
      }
    }

    >p {
      color: $default-text;
      font: 400 16px/24px 'Muli', sans-serif;
      margin: 41px 0 19px;

      @include md {
        margin: 19px 0 31px;
      }
    }
  }

  .smiley-news-center {
    a {
      text-decoration: none;
    }

    @include md {
      .smiley-img-wrap {
        height: 28.385vw;
      }
    }

    @include xxl {
      max-width: 762px;
      width: 100%;

      .smiley-img-wrap {
        height: 29.687vw;
        max-height: 475px;
      }
    }

    .article-descr {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    .article-date-location {
      display: none;
    }

    .article-subtitle {
      color: #a1a1a1;
      font: 600 16px/24px 'Montserrat SemiBold', sans-serif;
      text-transform: uppercase;
      margin-top: 1px;
      margin-bottom: 9px;
      order: 1;

      @include xxl {
        padding-top: 16px;
      }
    }

    .article-title {
      color: $default-text;
      font: 700 32px/43px 'Montserrat Bold', sans-serif;
      text-transform: uppercase;
      order: 2;

      @include md {
        font: 700 32px/48px 'Montserrat Bold', sans-serif;
      }

      @include xxl {
        padding-right: 10px;
      }
    }
  }

  .smiley-news-right {
    .article-item {
      margin-bottom: 5px;
      margin-top: 13px;
      text-decoration: none;
      max-width: 499px;

      .article-descr {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 0;
      }

      .article-date-location {
        display: none;
      }

      img {
        height: 100%;
      }
    }

    .article-title {
      color: $default-text;
      font: 700 20px/32px 'Montserrat Bold', sans-serif;
      text-transform: uppercase;
      margin-bottom: 4px;
      order: 2;
    }

    .article-subtitle {
      color: #a1a1a1;
      font: 600 14px/24px 'Montserrat SemiBold', sans-serif;
      text-transform: uppercase;
      margin-bottom: 8px;
      margin-top: 11px;
      order: 1;
    }

    @include md {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;

      .article-item {
        width: 50%;
        margin-right: 10px;

        .smiley-img-wrap {
          height: 29.948vw;
          max-height: 320px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    @include xxl {
      flex-direction: column;
      width: auto;
      max-width: 359px;

      .article-item {
        margin: 0 0 25px;
        width: 100%;

        .smiley-img-wrap {
          height: 224px;
        }

        img {
          margin-bottom: 0;
        }
      }
    }
  }
}

// ---------- SMILEY AWARDS INDEX SECTION

.smiley-awards {
  padding-top: 151px;
  margin-bottom: 30px;
  position: relative;

  .selection-link {
    text-align: center;
    margin-top: 15px;

    @include xxl {
      text-align: right;
    }

    a {
      font: 400 14px/24px 'Muli', sans-serif;
      color: $default-text;
    }
  }

  .smiley-awards-wrap {
    .smiley-awards-main-title {
      height: 151px;
      text-align: center;
      background-color: #A04894;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 892px;

      @include md {
        transform: translate(-50%, 0);
        margin-left: 50%;
      }

      img {
        width: 100%;
        max-width: 259px;
        transform: translateY(30px);
      }
    }
  }

  @include lg {
    margin-top: 0;
  }

  .smiley-awards-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 892px;

    img {
      width: 100%;
      z-index: 1;
      align-self: center;
    }

    @include xl {
      flex-direction: row;
      max-width: none;

      img {
        width: 57%;
        max-width: 892px;
        margin-left: 9%;
      }

      .smiley-awards-text {
        width: 43%;
      }
    }
  }

  @include xl {
    padding-top: 0;

    max-width: 1560px;
    margin: 0 auto 100px;

    .smiley-awards-wrap {
      .smiley-awards-main-title {
        z-index: 2;
        margin-left: 0;
        width: 359px;
        height: 318px;
        top: 0;
        transform: translate(0, 43%);
        margin-top: 1px;

        img {
          transform: translateY(115px);
        }
      }
    }
  }

  .smiley-awards-text {
    background-color: #f0e2ee;
    padding: 18px 20px 33px;

    .smiley-awards-title {
      font: 700 32px/48px 'Montserrat Bold', sans-serif;
      text-transform: uppercase;
      color: $default-text;
      margin-bottom: 6px;
    }

    .smiley-awards-descr {
      font: 400 16px/24px 'Muli', sans-serif;
      color: $default-text;
    }

    .smiley-awards-prize {
      font: 600 16px/24px 'Montserrat SemiBold', sans-serif;
      text-transform: uppercase;
      color: $default-text;
      margin-top: 20px;
    }

    .smiley-awards-money {
      font: 700 56px/74px 'Montserrat Bold', sans-serif;
      text-transform: uppercase;
      color: $default-text;
      margin-bottom: 3px;
    }

    .read-more-link {
      color: #A04894;
      border-bottom: 2px solid #A04894;

      span {
        background-color: #A04894;

        &:before,
        &:after {
          background-color: #A04894;
        }
      }
    }

    @include xl {
      padding: 40px 20px 20px 40px;
    }

    @include xxl {
      padding: 102px 20px 20px 40px;
    }
  }
}

// ---------- SMILEY ICON SECTION

.thematic-icons {


  .thematic-icons-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include xxl {
      justify-content: flex-start;
    }
  }

  .thematic-icons-title {
    color: #1a1a1a;
    font: 700 32px/48px "Montserrat Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .icon-wrap {
    height: 100%;
    width: 100%;
    max-width: 188px;
    max-height: 188px;
    border: 1px solid #EFEFEF;
    margin: 19px;

    @include xxl {
      &.ml0 {
        margin-left: 0;
      }

      &.mr0 {
        margin-right: 0;
      }
    }

    img {
      width: 100%;
    }
  }
}

// ---------- SIGN UP INDEX SECTION

.signup-section {
  background-color: #f7f7f7;
  padding: 40px 0 50px;
  text-align: center;

  h2 {
    color: $default-text;
    font: 700 32px/48px 'Montserrat Bold', sans-serif;
    text-transform: uppercase;
  }

  .smiley-signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label,
    input {
      max-width: 331px;
      width: 100%;
    }

    @include md {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      label {
        margin-right: 30px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    input {
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      border-radius: 4px;
      height: 48px;
      margin-bottom: 20px;
      text-indent: 16px;
      font: 400 16px/24px 'Montserrat Regular', sans-serif;

      &:focus {
        border: 1px solid #eeb400;
        box-shadow: 0 2px 31px 13px rgba(0, 0, 0, 0.05);
        transition: 0.2s ease-in;
      }

      @include xxl {
        margin-bottom: 0;
      }

      &::placeholder {
        color: #656565;
        font: 400 16px/24px 'Muli', sans-serif;
      }
    }

    .signup-btn-wrap {
      width: 100%;

      @include xl {
        max-width: 218px;
        margin: -1px 30px 0;
      }
    }

    .btn-signup {
      border: none;
      box-sizing: border-box;
      background-color: $default-orange-btns;
      border-radius: 4px;
      color: #fff;
      height: 48px;
      max-width: 218px;
      margin-bottom: -1px;
      text-transform: uppercase;
      font: 700 16px/24px 'Montserrat Bold', sans-serif;
      width: 100%;
      cursor: pointer;
    }
  }

  .social-icons {
    margin-top: 50px;
  }
}

// ---------- SMILEY VIDEO INDEX SECTION

.smiley-video-section {
  padding-top: 37px;
  padding-bottom: 96px;
  position: relative;

  &:after {
    content: '';
    border-bottom: 1px solid #979797;
    opacity: .28;
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  h2 {
    color: $default-text;
    font: 700 32px/48px 'Montserrat Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include lg {
      flex-direction: row;
      justify-content: space-around;
    }

    @include xxl {
      justify-content: space-between;
    }
  }

  .video-content-item {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    margin: 0 auto 70px;

    .video-container {
      img {
        width: 100%;
      }

      @include lg {
        height: 26.713vw;
      }

      @include xxl {

        max-height: 461px;
        height: 28.812vw;
      }
    }

    .video-descr {
      .video-content-title {
        color: $default-text;
        font: 700 22px/33px 'Montserrat Bold', sans-serif;
        text-transform: uppercase;
      }

      .video-content-subtitle {
        color: $default-text;
        font: 400 18px/27px 'Muli', sans-serif;
      }

      @include sm {
        .video-content-title {
          font: 700 26px/39px 'Montserrat Bold', sans-serif;
        }

        .video-content-subtitle {
          font: 400 20px/30px 'Muli', sans-serif;
        }
      }

      @include md {
        .video-content-title {
          font: 700 32px/48px 'Montserrat Bold', sans-serif;
        }

        .video-content-subtitle {
          font: 400 22px/30px 'Muli', sans-serif;
        }
      }

      @include lg {
        .video-content-title {
          font: 700 26px/39px 'Montserrat Bold', sans-serif;
          margin-top: 21px;
        }

        .video-content-subtitle {
          font: 400 20px/30px 'Muli', sans-serif;
          margin-top: 4px;
        }
      }

      @include xl {
        .video-content-title {
          font: 700 32px/48px 'Montserrat Bold', sans-serif;
        }

        .video-content-subtitle {
          font: 400 22px/30px 'Muli', sans-serif;
        }
      }
    }
  }

  .comment-block {
    background-image: url(/img/homepage/quotes.svg);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    max-width: 985px;
    text-align: center;
    margin: 0 auto;
    position: relative;

    &:before,
    &:after {
      content: '';
      height: 4px;
      width: 100px;
      position: absolute;
      background-color: #ffec00;
      transform: translateX(-50%);
    }

    &:before {
      top: -24px;
    }

    &:after {
      bottom: -32px;
    }

    p {
      color: $default-text;
      font: 400 italic 20px/32px 'Muli', sans-serif;
      margin-top: 0;
      padding-top: 8px;
    }

    h3 {
      color: #252525;
      font: 700 12px/16px 'Montserrat Bold', sans-serif;
      opacity: .87;
    }
  }

  @include lg {
    .video-container {
      display: flex;
      flex-direction: row;
    }

    .video-content-item {
      margin: 0 20px 138px;
    }
  }
}

.social-icons {
  margin-top: 48px;

  ul {
    li {
      display: inline-flex;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      max-width: 46px;
    }

    a {
      display: inline-flex;
    }
  }

  i {
    color: $default-text;
    font-size: 24px;
    transition: 0.2s ease-in;
    display: inline-block;
  }
}